img{
  width: 75px;
  height: 75px;
}
*{
  box-sizing: border-box;
}
#img1, #img2, #img3{
  float: left;
  width: 33%;
  margin-top: 6em;
}
img{
  transition-property: border-radius, background-color;
  transition-duration: 0s;
}
.css_dis:hover{
  border-style: solid;
  border-color: rgb(159, 104, 32);
  border-width: 2px;
  cursor: pointer;
  border-radius: 2em;
}
body{
  background-color: rgb(177, 142, 89);
}

h1{
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 3.5em;
  color: rgb(255,146,25);
  background-color: rgb(159, 104, 32);
  margin: 0;
  padding: 0.6em;
}
p{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.4em;
  margin: 0;
  padding: 0.6em;
}
section{
  text-align: center;
}
div{
  float: left;
  border-style: solid;
  border-width: 2;
}
